<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="author" />
    <title>
        Standard Page | Texas A&amp;M University Kingsville
    </title>


    <link href="https://www.tamuk.edu/_dist/main.css" rel="stylesheet" />

    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MTK44QM');</script>

</head>

<body>
    <noscript>
        <iframe aria-hidden="true" height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-MTK44QM"
            style="display:none;visibility:hidden" title="Google Tag Manager noscript iframe" width="0"></iframe>
    </noscript>
    <nav aria-label="sub">
        <div>

        </div>
    </nav>
    <div role="banner">


        <div class="whiteline"></div>
        <div class="mini-img-bnr">
            <div class="container mini-img-caption">
                <h1 role="presentation">_testing</h1>
                <h2 role="presentation">Karthick's displayName</h2>
            </div>
        </div>


    </div>
    <!-- End of MiniBanner-->
    <!-- Sub Dept nav-->
    <div class="sticky-top sticky-dept-sublinks">

    </div>
    <!-- end of sub dept nav -->
    <!-- Mobile dropdown + breadcrumbs -->
    <div class="d-block d-md-none d-lg-none d-xl-none" id="toggle-nav" style="text-align:center;">
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-haspopup="true"
            aria-label="toggle-nav" class="navbar-toggler navbar-toggle collapsed" data-target="#mobnav"
            data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon ot-toggler">
                <em class="fas fa-bars"></em>
            </span>
        </button>
        <div class="navbar-collapse collapse" id="mobnav">
            <div class="dept-sublinks">
                <ul class="navbar-nav nav nav-pills nav-fill deptsubnav" id="navmobile">
                </ul>
            </div>







            <!-- accordian-list Start-->
            <ul class="navbar-nav nav nav-pills nav-fill">


                <li>
                    <a href="/entity/open.act?type=page&amp;id=3688d272ac1e009328527b79bc8953c1&amp;confId=ffedd44dac1e00932d15ed5db864df1b"
                        target="_parent">Karthick's testing page</a>
                </li>


                <li aria-label="Current Page Unclickable link" class="current-nav-link">
                    <a href="/entity/open.act?type=page&amp;id=7993abbfac1e009328527b79b1f378b9&amp;confId=65499a55ac1e009328527b7971003ce3"
                        target="_parent">Standard Page</a>
                </li>


                <li>
                    <a href="/entity/open.act?type=page&amp;id=839f7985ac1e009328527b796f0759ae&amp;confId=63f49cdfac1e009328527b79ee608a45"
                        target="_parent">Marcomm Home</a>
                </li>
            </ul>


            <!-- accordian-list End -->




        </div>
        <div class="goldline"></div>
    </div>
    <div class="container">
        <aside aria-label="breadcrumbs" class="breadcrumbs">





            <a href="/entity/open.act?type=page&amp;id=1177faeaac1e00937c8c7ac6f32aa926&amp;confId=ec7ed637ac1e00936e48745dc02f6e42"
                target="_parent">Texas A&amp;M University-Kingsville</a> »



            <a href="/entity/open.act?type=page&amp;id=65d2e16dac1e009323e601d38407226f&amp;confId=ffedd44dac1e00932d15ed5db864df1b"
                target="_parent">Marketing and Communications</a> »



            <a href="/marcomm/_testing/index">_testing</a> »



            <a href="/entity/open.act?type=page&amp;id=3688d272ac1e009328527b79bc8953c1&amp;confId=ffedd44dac1e00932d15ed5db864df1b"
                target="_parent">Karthick's displayName</a> »


            Standard Page

        </aside>
        <!-- End of breadcrumbs -->
        <!-- Nav + Default -->
        <div class="row">
            <div class="col-lg-3 col-md-3 d-none d-md-block d-lg-block" id="rightrail">
                <nav aria-label="Department">

                    <!-- accordian-list Start-->
                    <div id="accordion-list">

                        <ul class="MenuBarVertical" id="MenuBar2" style="padding-left: 0px;">
                            <li>
                                <a href="/entity/open.act?type=page&amp;id=3688d272ac1e009328527b79bc8953c1&amp;confId=ffedd44dac1e00932d15ed5db864df1b"
                                    target="_parent">Karthick's testing page</a>
                            </li>
                            <li aria-label="Current Page Unclickable link" class="current-nav-link">
                                <a href="/entity/open.act?type=page&amp;id=7993abbfac1e009328527b79b1f378b9&amp;confId=65499a55ac1e009328527b7971003ce3"
                                    target="_parent">Standard Page</a>
                            </li>
                            <li>
                                <a href="/entity/open.act?type=page&amp;id=839f7985ac1e009328527b796f0759ae&amp;confId=63f49cdfac1e009328527b79ee608a45"
                                    target="_parent">Marcomm Home</a>
                            </li>
                        </ul>
                    </div>
                    <!-- accordian-list End -->





                </nav>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 main_content" id="default">
                <main>


                    <h1>Standard Page</h1>
                    <hr />
                    <div>
                        <p class="karthick">testing</p>
                        <ul>

                            <li><a href="./form.html">Date Picker</a></li>
                        </ul>

                        <img alt="general.jpg" class="karthick"
                            src="https://tamuk.cascadecms.com/renderfile/ffed1627ac1e00932d15ed5d6cd01685/marcomm/_testing/JamesP/template-update/general.jpg" />
                    </div>



                </main>
            </div>
        </div>
    </div>


    <footer class="s-footer1">
        <div class="container">
            <div class="footer1" id="footer1">
                <div>
                    <h2>Contact Info</h2>


                    <ul>
                        <li>Karthick's displayName</li>



                    </ul>
                </div>
            </div>
            <div class="footerSocialMedia">
                <h3>Follow Us</h3>
                <a aria-label="link to facebook page" href="https://www.facebook.com/javelinas/" rel="noopener">
                    <em alt="twitter icon" class="fab fa-facebook-square fa-2x somed" role="presentation"></em>
                </a>
                <a aria-label="link to Twitter page" href="https://twitter.com/JavelinaNation" rel="noopener">
                    <em alt="twitter icon" class="fab fa-twitter-square fa-2x somed" role="presentation"></em>
                </a>
                <a aria-label="link youtube channel" href="http://www.youtube.com/user/TAMUKJavelinaPride"
                    rel="noopener">
                    <em alt="Youtube Icon" class="fab fa-youtube-square fa-2x somed" role="presentation"></em>
                </a>
                <a aria-label="link to Instagram page" href="https://www.instagram.com/javelinanation/?hl=en"
                    rel="noopener">
                    <em alt="Instagram Icon" class="fab fa-instagram fa-2x somed" role="presentation"></em>
                </a>
            </div>
            <div class="copyright">
                Copyright © 1996-2021 Texas A&amp;M University-Kingsville<br />
                <a href="https://www.tamus.edu/" title="Link to the Texas A&amp;M System Home Page">A member of the
                    Texas A&amp;M University System</a>
            </div>
            <div class="quickEdit">
                Last updated: <a
                    href="http://tamuk.cascadecms.com/entity/open.act?type=page&amp;id=7993abbfac1e009328527b79b1f378b9#highlight"
                    title="Link to edit page in Cascade">08/24/2021</a>
            </div>
        </div>
    </footer>







    <!-- <script src="../dist/bundle.js" type="text/javascript"></script> -->
</body>

</html>