.statbtn {
    color: theme-colors(tDarkBlue);
    font-weight: bold;
    display: table;
    margin: 20px auto;
    p {
      text-shadow: 1px 1px grey;
      vertical-align: middle;
      display: table-cell;
      font-size: 60px;
    }
    h1 {
      text-shadow: 1px 1px grey;
      vertical-align: middle;
      display: table-cell;
    }
  }
  
  .standard-btn-gold {
    color: theme-colors(tDarkBlue) !important;
    background-color: theme-colors(tGold);
    text-decoration: none !important;
    width: 250px;
    margin: 5px;
    white-space: normal !important;
    height: 100%;
    box-shadow: 0px 0px 2px 0px theme-colors(tDarkBlue);
    &:hover {
      color: theme-colors(tGold) !important;
      background-color: theme-colors(tDarkBlue);
      outline: none !important;
      box-shadow: 0px 0px 5px 1px #00000088;
      transition: 0.3s ease-in-out;
    }
    &:active {
      box-shadow: inset 0px 0px 0px 1px theme-colors(tDarkBlue) !important;
      transition: 0.3s ease;
    }
  }
  .standard-btn-blue {
    color: theme-colors(tGold) !important;
    background-color: theme-colors(tDarkBlue);
    text-decoration: none !important;
    width: 250px;
    margin: 5px;
    white-space: normal !important;
    height: 100%;
    &:hover {
      color: theme-colors(tDarkBlue) !important;
      outline: none !important;
      background-color: theme-colors(tGold);
      box-shadow: 0px 0px 5px 1px theme-colors(tBlue)55;
      transition: 0.3s ease-in-out;
    }
    &:active {
      box-shadow: inset 0px 0px 0px 1px theme-colors(tBlue)55 !important;
      transition: 0.3s ease;
    }
  }
  .standard-btn-blue.btn-popover {
    width: unset !important;
  }
  .standard-btn-gold.btn-popover {
    width: unset !important;
  }
  
  .btn-min-block {
    min-width: 170px;
    line-height: 26px;
  }
  .btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
    &:hover {
      color: #000;
      background-color: #fff;
      border-color: #fff;
    }
  }
  button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 30%;
    color: #fff;
    text-transform: uppercase;
    background: theme-colors(tBlue);
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    &:hover {
      // background: #e0b10e;
      &:before {   
        // border-right-color: #e0b10e;
      }
    }
    &:active {
      // background: #c42f2f;
    }
    &:focus {
      // background: #c42f2f;
      &:before {
        border-right-color: #e0b10e;
      }
    }
    // &:before {
    //   content: "";
    //   position: absolute;
    //   border-width: 8px 8px 8px 0;
    //   border-style: solid solid solid none;
    //   border-color: transparent theme-colors(tBlue) transparent;
    //   top: 12px;
    //   left: -6px;
    // }
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
  
  .p {
    > btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
  .standard-btn-blue {
    color: theme-colors(tGold) !important;
    background-color: theme-colors(tDarkBlue);
    text-decoration: none !important;
    width: 250px;
    margin: 5px;
    white-space: normal !important;
    height: 100%;
  }
  
  .standard-btn-gold:hover {
    color: theme-colors(tGold) !important;
    background-color: theme-colors(tDarkBlue);
    outline: none !important;
    box-shadow: 0px 0px 5px 1px #00000088;
    transition: 0.3s ease-in-out;
  }
  
  .standard-btn-gold {
    color: theme-colors(tDarkBlue) !important;
    background-color: theme-colors(tGold);
    text-decoration: none !important;
    width: 250px;
    margin: 5px;
    white-space: normal !important;
    height: 100%;
    box-shadow: 0px 0px 2px 0px theme-colors(tDarkBlue);
  }
  

  .inlineDeadline{
    color: red;
  }
   //

   




.accordion-btn {
  height:fit-content;
  }

















.card-header .accordion-btn.collapsed:before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 600;
  transform: rotate(
180deg);
  content: "\f139";
  float: left;
}
.card-header .accordion-btn:before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 600;
  content: "\f139";
  float: left;
  transition-duration: 400ms;
}

.btn:focus {
 outline: none !important;
 box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}


.nav-link:hover {
  background: #fcc10f;
}

h2 {
  color: #003370 !important;
}

.deanPicPathText>p>span {
  color: #003370;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Charmonman !important;
}



.btn-block {
  display: block;
  width: 100%;
}





// .accordion .card-header {
//   padding: .75rem 1.25rem !important;
//   margin-bottom: 0 !important;
//   background-color: rgba(0,0,0,.03) !important;
//   border-bottom: 1px solid rgba(0,0,0,.125) !important;
// }

.accordion .card .card-header{
  padding: 0.75rem 1.25rem !important;
}