.breadcrumbs {
  color: #555858;
  padding: 10px 2px;
}

.breadcrumbs a {
  color: #0054aa !important;
  text-decoration: underline;
}

.breadcrumbs a:hover {
  color: theme-colors(tBlue) !important;
  outline: 1px dotted blue;
}

.breadcrumbs a:focus {
  color: theme-colors(tBlue) !important;
  outline: 1px dotted blue;
}

.carousel-item {
  height: 50vh;
  background-size: cover;
}

.carousel-img {
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: -10px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  width: 100%;
  left: 0;
}

.accordion .card-header {
  padding: 0px !important;
  overflow: auto;
}

.accordion > .card {
  border: 0px !important;
}

.accordion-btn {
  color: theme-colors(tDarkBlue) !important;
  width: 100%;
  font-weight: bold !important;
  text-align: left !important;
  white-space: normal !important;
}

.accordion-btn span {
  padding-left: 8px !important;
}

.accordion-btn span.badge {
  padding: 0.25em 0.4em !important;
  position: absolute;
  right: 2px;
  top: 10px;
  border-top-left-radius: unset;
  border-bottom-right-radius: unset;
}

.accordion-btn-Blue {
  color: #fff !important;
}

.accordion-btn-TerraCotta {
  color: #fff !important;
}

.main_content .accordion .card {
  padding: 0.5rem 0;
}

.main_content a {
  text-decoration: underline;
  color: #0046d1;
}

.main_content a:focus {
  border: 1px solid #000;
}

.main_content a:hover {
  outline: 1px dotted blue;
}

#accordian-list {
  clear: none;
  float: right;
  width: 100%;
  display: block;
}

#accordian-list_small {
  clear: none;
  float: right;
  width: 75%;
  display: block;
}

.carousel-text-block {
  border-radius: 15px;
  bottom: 2vw;
  background: rgba(0, 0, 0, 0.7);
  color: #fff !important;
}

header.carousel {
  height: 65%;
}

header.carousel .item {
  height: 100%;
}

header.carousel .item.active {
  height: 100%;
}

header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.event-card {
  border-radius: 0.5rem;
}

#tBody * {
  color: theme-colors(tDarkBlue);
}

#tBody .card {
  margin-bottom: 50px;
  word-break: break-word;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

#tBody .card:hover {
  background: #f9f9f9 !important;
  -webkit-box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}

#tBody .card-header {
  background: theme-colors(tDarkBlue);
  -webkit-box-shadow: 0px 0px 0px 1px theme-colors(tDarkBlue);
          box-shadow: 0px 0px 0px 1px theme-colors(tDarkBlue);
  color: #fefefe;
  font-weight: bold;
}

#tBody li.list-group-item span {
  color: theme-colors(tDarkBlue);
  font-weight: bold !important;
}

#tBody .list-group-item {
  background-color: unset !important;
  padding: 10px 20px;
}

#tBody .list-group-item > a {
  color: #0033ff;
}

.carousel-caption {
  left: 0px !important;
  bottom: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  right: 0% !important;
}

.carousel-caption a {
  color: #fff;
  text-decoration: underline;
}

.tabsWrapper {
  margin: 0 auto;
}

ul#tabs {
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0 0 0.1em;
}

ul#tabs li {
  display: inline;
}

ul#tabs li a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  color: theme-colors(tDarkBlue);
  font-weight: 700;
  background-color: #e6e7e8;
  border-bottom: none;
  padding: 0.3em;
  text-decoration: none;
}

ul#tabs li a:hover {
  background-color: #fff;
}

ul#tabs li a.selected {
  color: theme-colors(tDarkBlue);
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: unset;
}

div.tabContent {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-top: none;
  padding: 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #fff), to(#fefefe));
  background: linear-gradient(-180deg, #fff 80%, #fefefe);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  word-break: break-word;
}

div.tabContent * {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

div.tabContent a {
  color: #0046d1;
  text-decoration: underline;
}

div.tabContent button {
  color: #0046d1;
  text-decoration: underline;
}

div.tabContent.hide {
  display: none;
}

canvas.snow {
  position: absolute;
  z-index: 1;
  height: 100%;
  pointer-events: none;
}

a .fixedBanner-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  text-align: center;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fixedBanner-wrapper > video {
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

.fixedBanner-wrapper p {
  bottom: 0;
  z-index: 1;
  font-size: 1rem;
  font-weight: bold;
  padding: 0px 20px;
}

.fixedBanner-wrapper .btn.music {
  font-size: 0.6em;
  display: inline-block;
  -webkit-box-shadow: 1px 1px 1px 1px #000;
          box-shadow: 1px 1px 1px 1px #000;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.fixedBanner-wrapper .staticBanner-h1 {
  color: #fff;
  font-size: 1.5rem;
}

.fixedBanner-wrapper p.staticBanner-h1 span {
  width: 100%;
  font-size: 15px;
}

.fixedBannerImg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bannerCustomHeadingGroup {
  left: 0;
  right: 0;
  z-index: 1;
}

.bannerCustomHeadingGroup span {
  display: inline-block;
  padding: 5px;
}

.bannerCustomHeadingGroup .Small.music {
  font-size: 1em;
  font-weight: 400;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.bannerCustomHeadingGroup .Medium {
  font-size: 4rem;
  font-weight: 400;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.bannerCustomHeadingGroup .X-Large {
  font-size: 4em;
  font-style: italic;
  line-height: 10vh;
  padding-bottom: 8vh;
  font-weight: 600;
  letter-spacing: 10px;
  text-decoration: underline;
  -webkit-text-decoration-color: theme-colors(tGold);
          text-decoration-color: theme-colors(tGold);
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  font-size: 5em;
  font-size: 4em;
  font-style: italic;
  line-height: 10vh;
  padding-bottom: 8vh;
  font-weight: 600;
  letter-spacing: 10px;
  text-decoration: underline;
  text-decoration-color: theme-colors(tGold);
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.bannerCustomHeadingGroup .Large.music {
  text-shadow: 1px 1px 1px #000;
  font-size: 3em;
  font-style: italic;
  font-weight: 700;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.bannerCustomHeadingGroup .holiday {
  text-shadow: -2px -2px 0px #fff;
  font-size: 10vw;
  word-spacing: 15vw;
  padding-left: 6vw;
}

.staticBanner-wrapper {
  width: 100%;
  position: relative;
  color: #fff;
  text-align: center;
}

.staticBanner-wrapper .search {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.staticBanner-wrapper .search input {
  height: 50px;
  width: 20vw;
}

.staticBanner-wrapper .search button {
  height: 50px;
  width: 10vw;
}

.search.Wrapper {
  height: 10vh;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search.Wrapper * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
}

.staticBannerImg {
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  height: 100%;
}

.staticBannerImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.staticBannerOverlay {
  width: 75%;
  position: absolute;
  left: 0;
  right: 0;
  top: 1rem;
  margin: 0 auto;
}

.staticBannerOverlay img {
  width: 100%;
  -webkit-filter: drop-shadow(0 0 3px theme-colors(tBlue));
  filter: drop-shadow(0 0 3px theme-colors(tBlue));
}

.bannerCaptionLarge {
  position: absolute;
  font-size: 6vw;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px #000;
  font-weight: bold;
  line-height: 90px;
  bottom: 1vw;
  left: 0;
  right: 0;
}

.carousel-item {
  height: 100%;
}

.carousel-item a h1:hover {
  color: theme-colors(tGold);
  text-decoration: underline;
}

.staticBanner-h1.marcom span {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 0;
}

.staticBanner-h1.marcom p {
  color: #fff;
  width: 100%;
}

.staticBanner-h1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-blend-mode: lighten;
  padding: 5px;
  margin-bottom: 0px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background: rgba(0, 51, 153, 0.7);
  font-size: 1.5rem !important;
  color: #fff !important;
}

.staticBanner-h1 a {
  color: #fff;
}

.staticBanner-h1 a:hover {
  color: theme-colors(tGold) !important;
}

.staticBanner-h1 a h1:hover {
  color: theme-colors(tGold) !important;
}

.staticBanner-h1 h1 {
  font-size: 1.5rem !important;
  color: #fff !important;
}

.staticBanner-h1-none {
  padding: 29px;
}

div.carousel-item > a > div > div:hover {
  -webkit-box-shadow: 0 0 5px 0 #000;
          box-shadow: 0 0 5px 0 #000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  box-shadow: 0 0 5px 0 #000;
  transition: 0.5s ease;
  background: #003399 !important;
}

div.carousel-item > a > div > div:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  box-shadow: none;
}

.s-calendarBlock.calendarWhite {
  background-color: #fff;
}

.s-calendarBlock.calendarBlue {
  background-color: #039;
}

.s-calendarBlock.calendarGold {
  background-color: theme-colors(tGold);
}

.calendarHeader.calendarWhite {
  color: #039;
}

.calendarHeader.calendarBlue {
  color: #fff;
}

.calendarHeader.calendarGold {
  color: theme-colors(tDarkBlue);
}

.calendarHeader h2 {
  font-weight: bold;
}

.calendarWrapper {
  padding: 20px;
}

.calendarDatesWrapper {
  width: 100px;
  height: 100px;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.calendarDatesWrapper.calendarWhite {
  color: #fff;
  outline: solid #039 1px;
  background-color: #039;
}

.calendarDatesWrapper.calendarBlue {
  color: #039;
  outline: solid #fff 1px;
  background-color: #fff;
}

.calendarDatesWrapper.calendarGold {
  color: theme-colors(tDarkBlue);
  outline: solid theme-colors(tDarkBlue) 1px;
}

div.calendarDatesWrapper > div:nth-child(1) {
  font-size: 2rem;
}

.calendarEventsWrapper > div h3 {
  text-align: left;
  font-size: 1.2rem;
}

.calendarEventsWrapper > div:nth-child(1) {
  text-align: center;
}

.calendarEventsWrapper a {
  font-weight: bold;
  text-decoration: underline;
}

.calendarEventsWrapper a:hover {
  outline: #000 dotted 1px;
}

.calendarEventsWrapper.calendarWhite h2 {
  color: #039;
}

.calendarEventsWrapper.calendarWhite h3 {
  color: #039;
}

.calendarEventsWrapper.calendarWhite p {
  color: #039;
}

.calendarEventsWrapper.calendarWhite a {
  color: #0064d2;
}

.calendarEventsWrapper.calendarBlue h2 {
  color: #fff;
}

.calendarEventsWrapper.calendarBlue h3 {
  color: #fff;
}

.calendarEventsWrapper.calendarBlue p {
  color: #fff;
}

.calendarEventsWrapper.calendarBlue a {
  color: theme-colors(tGold);
}

.calendarEventsWrapper.calendarGold h2 {
  color: theme-colors(tDarkBlue);
}

.calendarEventsWrapper.calendarGold h3 {
  color: theme-colors(tDarkBlue);
}

.calendarEventsWrapper.calendarGold p {
  color: theme-colors(tDarkBlue);
}

.calendarEventsWrapper.calendarGold a {
  color: #039;
}

.calendarWhite .slick-prev:before {
  color: #039 !important;
}

.calendarWhite .slick-next:before {
  color: #039 !important;
}

.calendarWhite .slick-dots li button:before {
  color: #039 !important;
}

.calendarBlue .slick-prev:before {
  color: #fff !important;
}

.calendarBlue .slick-next:before {
  color: #fff !important;
}

.calendarGold .slick-prev:before {
  color: #039 !important;
}

.calendarGold .slick-next:before {
  color: #039 !important;
}

.calendarGold .slick-dots li button:before {
  color: #039;
}

.slick-prev {
  margin: -20px 15px !important;
}

.slick-next {
  margin: -20px 15px !important;
}

.s-imageBlock {
  background-color: #039;
}

.s-imageBlock .imageBlockWrapper-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 1300px;
}

.s-imageBlock .imageBlockWrapper-fullWidth {
  width: 100%;
}

.s-imageBlock img {
  width: 100%;
}

.s-imageBlock.imageBlockBackgroundColor-white {
  background-color: #fff;
}

.s-imageBlock.imageBlockBackgroundColor-blue {
  background-color: #039;
}

.s-imageBlock.imageBlockBackgroundColor-gold {
  background-color: theme-colors(tGold);
}

.s-imageBlock.imageBlockBackgroundColor-grey {
  background-color: #eee;
}

#imageBlockText {
  margin: 0;
}

.s-miniBanner.miniBannersolidWhite {
  background-color: #fff;
}

.s-miniBanner.miniBannergradientWhite {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
  background-image: linear-gradient(#eee, #fff);
}

.s-miniBanner.miniBannersolidBlue {
  background-color: #039;
}

.s-miniBanner.miniBannergradientBlue {
  background-color: #039;
  -webkit-box-shadow: inset 0 100px 100px -50px theme-colors(tDarkBlue);
          box-shadow: inset 0 100px 100px -50px theme-colors(tDarkBlue);
}

.s-miniBanner.miniBannersolidGrey {
  background-color: #ccc;
}

.s-miniBanner.miniBannergradientGrey {
  background-color: #ccc;
  -webkit-box-shadow: inset 0 100px 100px -50px #aaa;
          box-shadow: inset 0 100px 100px -50px #aaa;
}

.s-miniBanner.miniBannersolidGold {
  background-color: theme-colors(tGold);
}

.s-miniBanner.miniBannergradientGold {
  background-color: theme-colors(tGold);
  -webkit-box-shadow: inset 0 100px 75px -50px #daa520;
          box-shadow: inset 0 100px 75px -50px #daa520;
}

.miniBannerWrapper {
  min-height: 70px;
  text-align: center;
  position: relative;
}

.miniBannerWrapper img {
  width: 100%;
}

.miniBannerWrapper h1 {
  width: 100%;
  text-shadow: 1px 0 1px #000;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 51, 153, 0)), color-stop(rgba(0, 51, 153, 0.76)), to(rgba(0, 51, 153, 0)));
  background-image: linear-gradient(to left, rgba(0, 51, 153, 0), rgba(0, 51, 153, 0.76), rgba(0, 51, 153, 0));
  color: #fff !important;
  position: absolute;
  bottom: 0;
  left: 0;
}

.s-panel {
  padding-bottom: 1.5rem;
}

.s-panel h2 {
  padding: 40px 0px 0px 0px;
  font-weight: bold;
  text-align: center;
}

.s-panel.jumboButtonWhite {
  background-color: #fff;
}

.s-panel.jumboButtonWhite > div > h2 {
  color: theme-colors(tDarkBlue);
}

.s-panel.jumboButtonBlue {
  background-color: theme-colors(tDarkBlue);
}

.s-panel.jumboButtonBlue > div > h2 {
  color: #fff;
}

.s-panel.jumboButtonGold {
  background-color: theme-colors(tGold);
}

.s-panel.jumboButtonGold > div > h2 {
  color: theme-colors(tDarkBlue);
}

.panelsGroup {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.panelsGroup > div {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16%;
          flex: 1 1 16%;
  text-align: center;
}

.panelsGroup > div > a > button:hover {
  cursor: pointer;
  border-radius: 5px;
  height: 100%;
}

.panelsGroup .jumboButtonNoAnimation {
  cursor: pointer;
  border-radius: 5px;
  height: 100%;
  border: none !important;
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: unset;
}

.panelsGroup div a button div div p img {
  width: 100%;
  height: 100%;
}

.red a {
  text-decoration: underline !important;
  color: #0046d1;
}

.red {
  color: #ad0000 !important;
  font-weight: bold;
}

.White {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 0.3rem !important;
  margin: 2px !important;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.nav > li > a {
  display: inline-block;
  color: #003399;
}

.nav-link {
  /* padding: .5rem 1rem !important; */
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}
/*# sourceMappingURL=components.css.map */