/* TAMUK-main.scss */
noscript {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  margin: 0;
  padding: 0;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  color: #003370;
}

.footerSocialMedia {
  /* nav-aj.scss */
}

.footerSocialMedia svg {
  height: 1.5rem;
  width: 1.5rem;
  padding-bottom: 0.1rem;
  margin-top: -0.3rem;
}

.footerSocialMedia a {
  color: #fff;
  text-decoration: none;
}

.footerSocialMedia a:hover {
  color: #fcc10f;
  text-decoration: none;
}

.footerSocialMedia .copyright {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

.footerSocialMedia .copyright a {
  color: #fff;
  margin: 0 auto;
  text-decoration: underline;
}

.footerSocialMedia .copyright a:hover {
  text-decoration: underline;
  outline: 1px dashed #fff;
  color: unset;
}

.footerSocialMedia .sticky-search {
  top: 77px !important;
  z-index: 4 !important;
  background-color: white;
}

.footerSocialMedia .gsc-container {
  background: transparent !important;
}

.footerSocialMedia mini-img-bnr {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 125px;
  background-color: #003399;
}

.footerSocialMedia mini-img-bnr h2 {
  color: white !important;
}

.footerSocialMedia .mini-img-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.footerSocialMedia .goldline {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}

.footerSocialMedia whiteline {
  background: #fff;
  height: 3px;
}

.footerSocialMedia .top-sub-navigation {
  background-color: #fff;
}

.footerSocialMedia .brand {
  width: 300px;
}

.footerSocialMedia .mainnavbtn {
  text-align: center;
}

.footerSocialMedia .mainbtn {
  color: #fff !important;
}

.footerSocialMedia .main_content {
  padding-right: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #ccc;
}

.footerSocialMedia .main_content * {
  word-wrap: break-word;
}

.footerSocialMedia #rightrail {
  clear: both;
  float: left;
  padding: 0px 5px 0px 0px;
  margin-left: 0;
  width: 100%;
  display: block;
}

.footerSocialMedia #MenuBar2 a {
  color: #003370 !important;
  padding-left: 2px;
}

.footerSocialMedia #MenuBar2 li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footerSocialMedia #navmobile li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footerSocialMedia #mobnav li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footerSocialMedia .current-nav-link {
  background-color: #f9f9f6;
  font-weight: bold;
  border-radius: 3px;
  pointer-events: none;
  cursor: default;
}
/*# sourceMappingURL=nav.css.map */