.sr-only {
  color: #000 !important;
  background-color: #fff !important;
}

.mini-img-bnr {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 125px;
  background-color: theme-colors(tBlue);
}

.mini-img-bnr img {
  width: 100%;
  max-height: 150px;
  display: block;
}

.mini-img-bnr h1 {
  color: white !important;
}

.mini-img-bnr h2 {
  color: white !important;
}

.mini-img-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.gsc-control-cse {
  border-color: #fff !important;
  background-color: #fff !important;
}

.gs-bg-transparent .gsc-control-cse {
  border-color: transparent !important;
  background-color: transparent !important;
}

.embed-responsive {
  width: 100% !important;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.gsc-results-wrapper-overlay {
  top: 150px !important;
}

#living h1 {
  font-weight: bold;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 1rem;
  font-size: 2.5vw;
  color: theme-colors(tBlue);
}

.feature {
  margin-right: 15px;
  margin-left: 15px;
}

.feature h1 {
  font-weight: bold;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 2.5vw;
  color: theme-colors(tBlue);
}

.feature h2 {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
}

.campliv h2 {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 2.5vw;
  color: theme-colors(tBlue);
}

.campliv p {
  font-size: 1.5vw;
}

.stats {
  background: theme-colors(tGold);
}

.stats p {
  font-size: 1.5vw;
  color: theme-colors(tBlue);
}

.stats h1 {
  font-weight: bold;
  font-size: 2.5vw;
  color: theme-colors(tBlue);
}

.foot_ourtime {
  background-color: theme-colors(tBlue);
}

.ourtime_ftr {
  background-color: theme-colors(tBlue);
  padding: 10px;
}

#lrnmoremail_ftr {
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 15px;
  color: theme-colors(tGold);
}

#lrnmoremail_ftr a {
  color: theme-colors(tGold) !important;
}

#scndtowerlogo_ftr {
  display: inline-block;
  text-align: right;
  width: 49%;
  background-color: theme-colors(tBlue);
  color: theme-colors(tGold);
}

#scndtowerlogo_ftr a {
  color: theme-colors(tGold) !important;
}

#scndtowerlogo_ftr p {
  color: theme-colors(tGold);
}

#systemlogo_ftr {
  display: inline-block;
  text-align: right;
  width: 49%;
}

#systemlogo_ftr a {
  color: theme-colors(tGold) !important;
}

#campusinfo_ftr {
  display: inline-block;
  width: 49%;
}

#campusinfo_ftr a {
  margin: 0;
  color: theme-colors(tGold) !important;
}

#campusinfo_ftr h5 {
  color: theme-colors(tGold);
}

#socialbuttons_ftr {
  padding: 5px 15px 5px 15px;
}

.living {
  background-color: theme-colors(tGold);
  border: 1px solid theme-colors(tGold);
}

.feature-link {
  padding: 0 5px;
}

.feature-link a {
  text-align: center;
  color: #fff !important;
}

.feature-link a:hover {
  color: theme-colors(tGold) !important;
}

.bgimg {
  width: 100%;
}

.goldline {
  background: theme-colors(tGold);
  height: 5px;
}

.whiteline {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}

.brand {
  width: 300px;
}

.headicon {
  margin: 0px 20px 0px 20px;
}

.mainbtn:hover {
  color: #039 !important;
}

.mainbtn a:focus {
  color: white !important;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.center-text {
  text-align: center;
  text-align: center;
}

.gold-text {
  color: theme-colors(tGold);
  color: theme-colors(tGold);
}

.stat-block {
  text-align: center;
  vertical-align: middle;
}

.image-background-block {
  position: absolute;
  bottom: 5vh;
  right: 2vw;
  background: #002d92;
  width: 325px;
  height: 100px;
  mix-blend-mode: multiply;
}

.image-text-block {
  position: absolute;
  bottom: 2%;
  display: block;
  right: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 51, 153, 0.7);
  color: white;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.image-text-block p {
  margin-bottom: 0.5rem;
  line-height: 1;
  color: #d1d2d4;
}

.image-text-block h1 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.image-text-block h2 {
  font-size: 1.5rem;
}

.video-text-block {
  position: absolute;
  bottom: 2vw;
  left: 0;
  background: rgba(0, 51, 153, 0.7);
  color: white !important;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 6px solid theme-colors(tGold);
}

.video-text-block h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
  color: white;
  padding-top: 5px;
}

.video-text-block h4:hover {
  color: theme-colors(tGold);
}

.video-text-block h1 {
  margin-bottom: 0.5rem;
  line-height: 1;
  color: white;
}

.video-text-block h2 {
  margin-bottom: 0.5rem;
  line-height: 1;
  color: white;
}

.image-text-left:hover {
  content: 'Be A Javelina';
}

.image-text-left:hover span {
  display: none;
}

.image-text-left:hover:before {
  content: "Apply Now!";
}

.image-text-right:hover {
  content: 'Around Javelina Nation';
}

.image-text-right:hover span {
  display: none;
}

.image-text-right:hover:before {
  content: "Read Latest AJN";
}

.block-jt {
  width: 100%;
  max-height: 20vh;
  margin: 5px 0 5px 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}

.videobnr {
  background-size: cover;
  width: 100%;
  color: #fff;
}

video {
  position: relative !important;
}

.underline {
  display: block;
  border: none;
  color: #fff;
  height: 1px;
  margin-bottom: 5px;
  background: #000;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#ffd), to(theme-colors(tBlue)));
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.Gold {
  background-color: #fcc10f !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: .3rem !important;
  margin: 2px !important;
}

.Blue {
  background-color: theme-colors(tDarkBlue) !important;
  border: 1px solid #d1d3d4 !important;
  border-radius: .3rem !important;
  margin: 2px !important;
}

.TerraCotta {
  background-color: #AF001D !important;
  border: 1px solid #d1d3d4 !important;
  border-radius: .3rem !important;
  margin: 2px !important;
}

.Transparent {
  background-color: white !important;
  border: 0px !important;
  margin: 0px !important;
}

.staff-profile-info-container h2 {
  font-size: 1.5rem !important;
}

#socmed {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#socmed a {
  color: #ffffff !important;
}

#socmed a:hover a:focus {
  color: theme-colors(tGold) !important;
}

.mainfooter {
  bottom: 0;
  display: block;
  float: left;
  height: 75px;
  text-align: left;
  color: theme-colors(tDarkBlue);
  width: 100%;
}

.btn-outline-warning {
  border-color: theme-colors(tBlue) !important;
}

.footer1 a {
  color: #fff !important;
}

.footer-pdf {
  display: none;
}

.footer-pdf a {
  text-decoration: underline;
  color: #00e !important;
}

.footer_left {
  background: theme-colors(tGold);
  text-align: center;
}

.footer_left img {
  max-width: 250px;
}

.footer_left hr {
  max-width: 250px;
  -webkit-text-decoration-color: #006bb6;
          text-decoration-color: #006bb6;
}

.footer_mid {
  background: #0064d2;
  color: #ffffff;
}

.footer_mid a {
  color: #ffffff !important;
}

.footer_mid a:hover a:focus {
  color: theme-colors(tGold) !important;
}

.footer_mid li {
  margin: 5px 5px 10px 10%;
  padding-top: 7px;
  color: #ffffff;
}

.footer_right {
  background: #003377;
}

.footer_right a {
  color: #ffffff !important;
}

.footer_right a:hover {
  color: theme-colors(tGold) !important;
}

.footer_right p {
  color: #ffffff;
}

.footer_bottom {
  background: #555858;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.footer_bottom p {
  color: #d1d3d4 !important;
}

.footer_bottom a {
  color: #d1d3d4 !important;
  text-decoration: underline;
}

.footer_bottom a:hover {
  color: #ffffff !important;
  outline: 1px dotted white;
}

.footer_bottom a:focus {
  color: #ffffff !important;
  outline: 1px dotted white;
}

.footer p {
  margin: 0px;
  padding: 0px;
}

.footer_mob {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: theme-colors(tBlue);
}

.footer_content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainfooterbtn {
  width: 30%;
}

.mainfooterbtn a {
  color: theme-colors(tGold) !important;
}

.mainfooterbtn a:hover a:active a:focus {
  color: theme-colors(tBlue) !important;
}

.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h2 {
  font-size: 40px;
}

.header-text h2 span {
  background-color: #2980b9;
  padding: 10px;
}

.header-text h3 span {
  background-color: #000;
  padding: 15px;
}

.testimonial-text-block {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 25px;
}

.testimonial-text-block p {
  line-height: 1.5;
}

#rightrail li {
  list-style: none;
  padding: 8px 0 8px 5px;
}

#foo2 {
  display: none;
}

.foo2 {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  float: left;
  width: 100%;
  background: #036;
  cursor: pointer;
  padding: 2px;
  border-top: 1px solid #369;
  border-bottom: 1px solid #003;
  border-left: 1px;
  border-right: 1px;
  color: #FFF;
}

.current-nav-link {
  background-color: #f9f9f6;
  font-weight: bold;
  border-radius: 3px;
  pointer-events: none;
  cursor: default;
}

#MenuBar2 a {
  color: theme-colors(tDarkBlue) !important;
  padding-left: 2px;
}

#MenuBar2 li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#MenuBar2 .cf {
  zoom: 1;
}

#MenuBar2 .cf:before {
  content: "";
  display: table;
}

#MenuBar2 .cf:after {
  content: "";
  display: table;
  clear: both;
}

#MenuBar2 .form-wrapper {
  margin: 5px auto;
  width: 50%;
  padding: 5px;
  background: theme-colors(tBlue);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

#MenuBar2 .form-wrapper input {
  width: 70%;
  height: 40px;
  padding: 10px 5px;
  float: left;
  font: bold 25px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  border-radius: 3px 0 0 3px;
}

#MenuBar2 .form-wrapper input:focus {
  outline: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

#MenuBar2 .form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

#MenuBar2 .form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

#MenuBar2 .form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  #MenuBar2 .form-wrapper .image-text-block h2 {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 767px) {
  #MenuBar2 .form-wrapper .blockContainer .feature-row .col-lg-6 {
    padding: 0px;
    margin: 0px;
  }
  #MenuBar2 .form-wrapper .block-jt {
    margin: 0px 0px 5px 0px;
  }
}

@media (max-width: 991.98px) {
  #MenuBar2 .form-wrapper .deptsubnav {
    font-size: 12px !important;
  }
  #MenuBar2 .form-wrapper .topsubnav a {
    font-size: 12px !important;
  }
}

@media (max-width: 767px) {
  #MenuBar2 .form-wrapper {
    /*
		}
		over here } */
    /* 
	}
}

over here */
  }
  #MenuBar2 .form-wrapper body {
    padding-top: 110px;
    height: 100%;
    overflow-x: hidden;
  }
  #MenuBar2 .form-wrapper .carousel-item {
    height: 40vh;
    background-size: cover;
  }
  #MenuBar2 .form-wrapper .mini-img-bnr img {
    width: 100%;
    height: 150px;
    display: block;
  }
  #MenuBar2 .form-wrapper .mini-img-bnr h1 {
    font-size: 1.5rem !important;
  }
  #MenuBar2 .form-wrapper .mini-img-bnr h2 {
    font-size: 1.25rem !important;
  }
  #MenuBar2 .form-wrapper .goldline {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    background: theme-colors(tGold);
    height: 3px;
  }
  #MenuBar2 .form-wrapper .carousel-text-block {
    font-size: 3vh;
    color: #fff !important;
  }
  #MenuBar2 .form-wrapper .headicon {
    color: theme-colors(tGold);
    margin: 0px 20px 0px 20px;
    font-size: 3vw;
  }
  #MenuBar2 .form-wrapper .feature h1 {
    padding: 20px 0 0 0;
    font-size: 5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper #living h1 {
    padding: 0px;
    font-size: 5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper .campliv h2 {
    padding: 0px;
    font-size: 5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper .campliv p {
    padding: 5px;
    font-size: 2.5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper .stats h1 {
    padding: 0px;
    font-size: 5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper .stats p {
    padding: 5px;
    font-size: 2.5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper #lrnmoremail_ftr {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 100%;
    color: theme-colors(tGold);
  }
  #MenuBar2 .form-wrapper #scndtowerlogo_ftr {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  #MenuBar2 .form-wrapper #systemlogo_ftr {
    display: inline-block;
    text-align: center;
    float: left;
    color: theme-colors(tGold);
    width: 100%;
  }
  #MenuBar2 .form-wrapper .ourtime_ftr {
    background-color: theme-colors(tBlue);
    padding: 10px;
    background-color: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper #campusinfo_ftr {
    display: inline-block;
    text-align: center;
    float: right;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper #campusinfo_ftr a {
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
    color: theme-colors(tGold) !important;
    text-align: center;
  }
  #MenuBar2 .form-wrapper #socialbuttons_ftr {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #MenuBar2 .form-wrapper #rightrail {
    clear: both;
    float: left;
    padding: 0px 5px 0px 0px;
    margin-left: 0;
    width: 100%;
    display: block;
  }
  #MenuBar2 .form-wrapper #rightrail li {
    list-style: none;
    padding: 8px 0 8px 5px;
  }
  #MenuBar2 .form-wrapper #rightrail {
    clear: none;
    float: right;
    width: 25%;
    max-width: 225px;
    display: block;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
  }
  #MenuBar2 .form-wrapper #rightrail li {
    list-style: none;
  }
  #MenuBar2 .form-wrapper header.carousel .carousel {
    height: 70%;
  }
  #MenuBar2 .form-wrapper .foo {
    display: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
    background: #036;
    cursor: pointer;
    padding: 2px;
    border-top: 1px solid #369;
    border-bottom: 1px solid #003;
    border-left: 1px;
    border-right: 1px;
    color: #FFF;
  }
  #MenuBar2 .form-wrapper #Options {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
    max-width: 780px;
  }
  #MenuBar2 .form-wrapper #Options ul {
    margin: 0;
    display: inline;
  }
  #MenuBar2 .form-wrapper #Options ul li {
    background: #036;
    cursor: pointer;
    list-style-type: none;
    padding: 2px;
    border-top: 1px solid #369;
    border-bottom: 1px solid #003;
    width: 100%;
  }
  #MenuBar2 .form-wrapper .Options a {
    color: #FFF !important;
    text-decoration: underline;
  }
  #MenuBar2 .form-wrapper .Options a:hover a:focus {
    color: #FC0 !important;
  }
  #MenuBar2 .form-wrapper #foo {
    display: none;
  }
  #MenuBar2 .form-wrapper #accordian-list {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: none;
  }
}

@media (max-width: 767px) and (max-width: 575.98px) {
  #MenuBar2 .form-wrapper body {
    padding-top: 104px;
    height: 100%;
    overflow-x: hidden;
  }
  #MenuBar2 .form-wrapper .sticky-search {
    top: 104px !important;
    z-index: 4 !important;
  }
  #MenuBar2 .form-wrapper a.ot-toggler {
    height: 20px;
  }
  #MenuBar2 .form-wrapper .carousel-item {
    height: 30vh;
    background-size: cover;
  }
  #MenuBar2 .form-wrapper .mainbtn {
    padding: 0px .5rem !important;
  }
  #MenuBar2 .form-wrapper h1 {
    font-size: 1.75rem !important;
  }
  #MenuBar2 .form-wrapper h2 {
    font-size: 1.2rem !important;
  }
  #MenuBar2 .form-wrapper h3 {
    font-size: 1.25rem;
  }
  #MenuBar2 .form-wrapper h4 {
    font-size: 1rem;
  }
  #MenuBar2 .form-wrapper h5 {
    font-size: 1rem;
  }
  #MenuBar2 .form-wrapper .image-text-block h1 {
    font-size: 1.5rem !important;
  }
  #MenuBar2 .form-wrapper .staff-profile-mobile-container {
    margin-top: -15px !important;
    margin-bottom: 20px;
  }
  #MenuBar2 .form-wrapper .staff-profile-info-container {
    margin-bottom: 0px;
    word-break: break-word;
  }
}

@media (max-width: 767px) {
  #MenuBar2 .form-wrapper #living h1 {
    font-weight: bold;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 1rem;
    font-size: 2.5vw;
    color: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper .feature {
    margin-right: 15px;
    margin-left: 15px;
  }
  #MenuBar2 .form-wrapper .feature h1 {
    font-weight: bold;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 2.5vw;
    color: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper .feature h2 {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
  }
  #MenuBar2 .form-wrapper .campliv h2 {
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 2.5vw;
    color: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper .campliv p {
    font-size: 1.5vw;
  }
  #MenuBar2 .form-wrapper .stats {
    background: theme-colors(tGold);
  }
  #MenuBar2 .form-wrapper .stats p {
    font-size: 1.5vw;
    color: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper .stats h1 {
    font-weight: bold;
    font-size: 2.5vw;
    color: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper .mini-img-bnr img {
    width: 100%;
    max-height: 150px;
    display: block;
  }
  #MenuBar2 .form-wrapper .mini-img-bnr h1 {
    color: white !important;
  }
  #MenuBar2 .form-wrapper .foot_ourtime {
    background-color: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper .ourtime_ftr {
    background-color: theme-colors(tBlue);
    padding: 10px;
  }
  #MenuBar2 .form-wrapper #lrnmoremail_ftr {
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 15px;
    color: theme-colors(tGold);
  }
  #MenuBar2 .form-wrapper #lrnmoremail_ftr a {
    color: theme-colors(tGold) !important;
  }
  #MenuBar2 .form-wrapper #scndtowerlogo_ftr {
    display: inline-block;
    text-align: right;
    width: 49%;
    background-color: theme-colors(tBlue);
    color: theme-colors(tGold);
  }
  #MenuBar2 .form-wrapper #scndtowerlogo_ftr a {
    color: theme-colors(tGold) !important;
  }
  #MenuBar2 .form-wrapper #scndtowerlogo_ftr p {
    color: theme-colors(tGold);
  }
  #MenuBar2 .form-wrapper #systemlogo_ftr {
    display: inline-block;
    text-align: right;
    width: 49%;
  }
  #MenuBar2 .form-wrapper #systemlogo_ftr a {
    color: theme-colors(tGold) !important;
  }
  #MenuBar2 .form-wrapper #campusinfo_ftr {
    display: inline-block;
    width: 49%;
  }
  #MenuBar2 .form-wrapper #campusinfo_ftr a {
    margin: 0;
    color: theme-colors(tGold) !important;
  }
  #MenuBar2 .form-wrapper #campusinfo_ftr h5 {
    color: theme-colors(tGold);
  }
  #MenuBar2 .form-wrapper #socialbuttons_ftr {
    padding: 5px 15px 5px 15px;
  }
  #MenuBar2 .form-wrapper .feature-link {
    padding: 0 5px;
  }
  #MenuBar2 .form-wrapper .feature-link a {
    text-align: center;
    color: #fff !important;
  }
  #MenuBar2 .form-wrapper .feature-link a:hover {
    color: theme-colors(tGold) !important;
  }
  #MenuBar2 .form-wrapper .bgimg {
    width: 100%;
  }
  #MenuBar2 .form-wrapper .goldline {
    background: theme-colors(tGold);
    height: 5px;
  }
  #MenuBar2 .form-wrapper .whiteline {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
  }
  #MenuBar2 .form-wrapper .brand {
    width: 300px;
  }
  #MenuBar2 .form-wrapper .headicon {
    margin: 0px 20px 0px 20px;
  }
  #MenuBar2 .form-wrapper .mainbtn:hover {
    color: #039 !important;
  }
  #MenuBar2 .form-wrapper .mainbtn a:focus {
    color: white !important;
  }
  #MenuBar2 .form-wrapper .center {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  #MenuBar2 .form-wrapper .center-text {
    text-align: center;
    text-align: center;
  }
  #MenuBar2 .form-wrapper .gold-text {
    color: theme-colors(tGold);
    color: theme-colors(tGold);
  }
  #MenuBar2 .form-wrapper .stat-block {
    text-align: center;
    vertical-align: middle;
  }
  #MenuBar2 .form-wrapper .image-background-block {
    position: absolute;
    bottom: 5vh;
    right: 2vw;
    background: #002d92;
    width: 325px;
    height: 100px;
    mix-blend-mode: multiply;
  }
  #MenuBar2 .form-wrapper .image-text-block {
    position: absolute;
    bottom: 2%;
    display: block;
    right: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 51, 153, 0.7);
    color: white;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #MenuBar2 .form-wrapper .image-text-block p {
    margin-bottom: 0.5rem;
    line-height: 1;
    color: #d1d2d4;
  }
  #MenuBar2 .form-wrapper .image-text-block h1 {
    margin-bottom: 0.5rem;
    line-height: 1;
  }
  #MenuBar2 .form-wrapper .image-text-block h2 {
    font-size: 1.5rem;
  }
  #MenuBar2 .form-wrapper .video-text-block {
    position: absolute;
    bottom: 2vw;
    left: 0;
    background: rgba(0, 51, 153, 0.7);
    color: white !important;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 6px solid theme-colors(tGold);
  }
  #MenuBar2 .form-wrapper .video-text-block h4 {
    margin-bottom: 0.5rem;
    line-height: 1;
    color: white;
    padding-top: 5px;
  }
  #MenuBar2 .form-wrapper .video-text-block h4:hover {
    color: theme-colors(tGold);
  }
  #MenuBar2 .form-wrapper .video-text-block h1 {
    margin-bottom: 0.5rem;
    line-height: 1;
    color: white;
  }
  #MenuBar2 .form-wrapper .video-text-block h2 {
    margin-bottom: 0.5rem;
    line-height: 1;
    color: white;
  }
  #MenuBar2 .form-wrapper .image-text-left:hover {
    content: 'Be A Javelina';
  }
  #MenuBar2 .form-wrapper .image-text-left:hover span {
    display: none;
  }
  #MenuBar2 .form-wrapper .image-text-left:hover:before {
    content: "Apply Now!";
  }
  #MenuBar2 .form-wrapper .image-text-right:hover {
    content: 'Around Javelina Nation';
  }
  #MenuBar2 .form-wrapper .image-text-right:hover span {
    display: none;
  }
  #MenuBar2 .form-wrapper .image-text-right:hover:before {
    content: "Read Latest AJN";
  }
  #MenuBar2 .form-wrapper .block-jt {
    width: 100%;
    max-height: 20vh;
    margin: 5px 0 5px 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;
  }
  #MenuBar2 .form-wrapper .videobnr {
    background-size: cover;
    width: 100%;
    color: #fff;
  }
  #MenuBar2 .form-wrapper video {
    position: relative !important;
  }
  #MenuBar2 .form-wrapper .underline {
    display: block;
    border: none;
    color: #fff;
    height: 1px;
    margin-bottom: 5px;
    background: #000;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#ffd), to(theme-colors(tBlue)));
  }
  #MenuBar2 .form-wrapper .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  #MenuBar2 .form-wrapper .Gold {
    background-color: #fcc10f !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: .3rem !important;
    margin: 2px !important;
  }
  #MenuBar2 .form-wrapper .Blue {
    background-color: theme-colors(tDarkBlue) !important;
    border: 1px solid #d1d3d4 !important;
    border-radius: .3rem !important;
    margin: 2px !important;
  }
  #MenuBar2 .form-wrapper .TerraCotta {
    background-color: #AF001D !important;
    border: 1px solid #d1d3d4 !important;
    border-radius: .3rem !important;
    margin: 2px !important;
  }
  #MenuBar2 .form-wrapper .Transparent {
    background-color: white !important;
    border: 0px !important;
    margin: 0px !important;
  }
  #MenuBar2 .form-wrapper .staff-profile-info-container h2 {
    font-size: 1.5rem !important;
  }
  #MenuBar2 .form-wrapper #socmed {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #MenuBar2 .form-wrapper #socmed a {
    color: #ffffff !important;
  }
  #MenuBar2 .form-wrapper #socmed a:hover a:focus {
    color: theme-colors(tGold) !important;
  }
  #MenuBar2 .form-wrapper .mainfooter {
    bottom: 0;
    display: block;
    float: left;
    height: 75px;
    text-align: left;
    color: theme-colors(tDarkBlue);
    width: 100%;
  }
  #MenuBar2 .form-wrapper .btn-outline-warning {
    border-color: theme-colors(tBlue) !important;
  }
  #MenuBar2 .form-wrapper .footer1 a {
    color: #fff !important;
  }
  #MenuBar2 .form-wrapper .footer-pdf {
    display: none;
  }
  #MenuBar2 .form-wrapper .footer-pdf a {
    text-decoration: underline;
    color: #00e !important;
  }
  #MenuBar2 .form-wrapper .footer_left {
    background: theme-colors(tGold);
    text-align: center;
  }
  #MenuBar2 .form-wrapper .footer_left img {
    max-width: 250px;
  }
  #MenuBar2 .form-wrapper .footer_left hr {
    max-width: 250px;
    -webkit-text-decoration-color: #006bb6;
            text-decoration-color: #006bb6;
  }
  #MenuBar2 .form-wrapper .footer_mid {
    background: #0064d2;
    color: #ffffff;
  }
  #MenuBar2 .form-wrapper .footer_mid a {
    color: #ffffff !important;
  }
  #MenuBar2 .form-wrapper .footer_mid a:hover a:focus {
    color: theme-colors(tGold) !important;
  }
  #MenuBar2 .form-wrapper .footer_mid li {
    margin: 5px 5px 10px 10%;
    padding-top: 7px;
    color: #ffffff;
  }
  #MenuBar2 .form-wrapper .footer_right {
    background: #003377;
  }
  #MenuBar2 .form-wrapper .footer_right a {
    color: #ffffff !important;
  }
  #MenuBar2 .form-wrapper .footer_right a:hover {
    color: theme-colors(tGold) !important;
  }
  #MenuBar2 .form-wrapper .footer_right p {
    color: #ffffff;
  }
  #MenuBar2 .form-wrapper .footer_bottom {
    background: #555858;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
  }
  #MenuBar2 .form-wrapper .footer_bottom p {
    color: #d1d3d4 !important;
  }
  #MenuBar2 .form-wrapper .footer_bottom a {
    color: #d1d3d4 !important;
    text-decoration: underline;
  }
  #MenuBar2 .form-wrapper .footer_bottom a:hover {
    color: #ffffff !important;
    outline: 1px dotted white;
  }
  #MenuBar2 .form-wrapper .footer_bottom a:focus {
    color: #ffffff !important;
    outline: 1px dotted white;
  }
  #MenuBar2 .form-wrapper .footer p {
    margin: 0px;
    padding: 0px;
  }
  #MenuBar2 .form-wrapper .footer_mob {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper .footer_content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #MenuBar2 .form-wrapper .mainfooterbtn {
    width: 30%;
  }
  #MenuBar2 .form-wrapper .mainfooterbtn a {
    color: theme-colors(tGold) !important;
  }
  #MenuBar2 .form-wrapper .mainfooterbtn a:hover a:active a:focus {
    color: theme-colors(tBlue) !important;
  }
  #MenuBar2 .form-wrapper .header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
  }
  #MenuBar2 .form-wrapper .header-text h2 {
    font-size: 40px;
  }
  #MenuBar2 .form-wrapper .header-text h2 span {
    background-color: #2980b9;
    padding: 10px;
  }
  #MenuBar2 .form-wrapper .header-text h3 span {
    background-color: #000;
    padding: 15px;
  }
  #MenuBar2 .form-wrapper .testimonial-text-block {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 25px;
  }
  #MenuBar2 .form-wrapper .testimonial-text-block p {
    line-height: 1.5;
  }
  #MenuBar2 .form-wrapper #rightrail li {
    list-style: none;
    padding: 8px 0 8px 5px;
  }
  #MenuBar2 .form-wrapper #foo2 {
    display: none;
  }
  #MenuBar2 .form-wrapper .foo2 {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
    background: #036;
    cursor: pointer;
    padding: 2px;
    border-top: 1px solid #369;
    border-bottom: 1px solid #003;
    border-left: 1px;
    border-right: 1px;
    color: #FFF;
  }
  #MenuBar2 .form-wrapper .current-nav-link {
    background-color: #f9f9f6;
    font-weight: bold;
    border-radius: 3px;
    pointer-events: none;
    cursor: default;
  }
  #MenuBar2 .form-wrapper #MenuBar2 a {
    color: theme-colors(tDarkBlue) !important;
    padding-left: 2px;
  }
  #MenuBar2 .form-wrapper #MenuBar2 li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  #MenuBar2 .form-wrapper #MenuBar2 .cf {
    zoom: 1;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .cf:before {
    content: "";
    display: table;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .cf:after {
    content: "";
    display: table;
    clear: both;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper {
    margin: 5px auto;
    width: 50%;
    padding: 5px;
    background: theme-colors(tBlue);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper input {
    width: 70%;
    height: 40px;
    padding: 10px 5px;
    float: left;
    font: bold 25px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
}

@media screen and (max-width: 767px) and (max-width: 500px) {
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .image-text-block h2 {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .blockContainer .feature-row .col-lg-6 {
    padding: 0px;
    margin: 0px;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .block-jt {
    margin: 0px 0px 5px 0px;
  }
}

@media (max-width: 767px) and (max-width: 991.98px) {
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .deptsubnav {
    font-size: 12px !important;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .topsubnav a {
    font-size: 12px !important;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper body {
    padding-top: 110px;
    height: 100%;
    overflow-x: hidden;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .carousel-item {
    height: 40vh;
    background-size: cover;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .mini-img-bnr img {
    width: 100%;
    height: 150px;
    display: block;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .mini-img-bnr h1 {
    font-size: 1.5rem !important;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .mini-img-bnr h2 {
    font-size: 1.25rem !important;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .goldline {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    background: theme-colors(tGold);
    height: 3px;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .carousel-text-block {
    font-size: 3vh;
    color: #fff !important;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .headicon {
    color: theme-colors(tGold);
    margin: 0px 20px 0px 20px;
    font-size: 3vw;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .feature h1 {
    padding: 20px 0 0 0;
    font-size: 5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .campliv h2 {
    padding: 0px;
    font-size: 5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .campliv p {
    padding: 5px;
    font-size: 2.5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .stats h1 {
    padding: 0px;
    font-size: 5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .stats p {
    padding: 5px;
    font-size: 2.5vh;
    text-align: center;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #lrnmoremail_ftr {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 100%;
    color: theme-colors(tGold);
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #scndtowerlogo_ftr {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #systemlogo_ftr {
    display: inline-block;
    text-align: center;
    float: left;
    color: theme-colors(tGold);
    width: 100%;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .ourtime_ftr {
    background-color: theme-colors(tBlue);
    padding: 10px;
    background-color: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #campusinfo_ftr {
    display: inline-block;
    text-align: center;
    float: right;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: theme-colors(tBlue);
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #campusinfo_ftr a {
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
    color: theme-colors(tGold) !important;
    text-align: center;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #socialbuttons_ftr {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #rightrail {
    clear: both;
    float: left;
    padding: 0px 5px 0px 0px;
    margin-left: 0;
    width: 100%;
    display: block;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #rightrail li {
    list-style: none;
    padding: 8px 0 8px 5px;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #rightrail {
    clear: none;
    float: right;
    width: 25%;
    max-width: 225px;
    display: block;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #rightrail li {
    list-style: none;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper header.carousel .carousel {
    height: 70%;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .foo {
    display: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
    background: #036;
    cursor: pointer;
    padding: 2px;
    border-top: 1px solid #369;
    border-bottom: 1px solid #003;
    border-left: 1px;
    border-right: 1px;
    color: #FFF;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #Options {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
    max-width: 780px;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #Options ul {
    margin: 0;
    display: inline;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #Options ul li {
    background: #036;
    cursor: pointer;
    list-style-type: none;
    padding: 2px;
    border-top: 1px solid #369;
    border-bottom: 1px solid #003;
    width: 100%;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .Options a {
    color: #FFF !important;
    text-decoration: underline;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .Options a:hover a:focus {
    color: #FC0 !important;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #foo {
    display: none;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper #accordian-list {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: none;
  }
}

@media (max-width: 767px) and (max-width: 575.98px) {
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper body {
    padding-top: 104px;
    height: 100%;
    overflow-x: hidden;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .sticky-search {
    top: 104px !important;
    z-index: 4 !important;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper a.ot-toggler {
    height: 20px;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .carousel-item {
    height: 30vh;
    background-size: cover;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .mainbtn {
    padding: 0px .5rem !important;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper h1 {
    font-size: 1.75rem !important;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper h2 {
    font-size: 1.2rem !important;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper h3 {
    font-size: 1.25rem;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper h4 {
    font-size: 1rem;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper h5 {
    font-size: 1rem;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .image-text-block h1 {
    font-size: 1.5rem !important;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .staff-profile-mobile-container {
    margin-top: -15px !important;
    margin-bottom: 20px;
  }
  #MenuBar2 .form-wrapper #MenuBar2 .form-wrapper .staff-profile-info-container {
    margin-bottom: 0px;
    word-break: break-word;
  }
}
/*# sourceMappingURL=nav_aj.css.map */